* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#C9B1FF;
    --secondary-color:#E6D9CA;
    --tertiary-color:#393246;
}

body {
    font-family:Helvetica, monospace, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    z-index: 9999;
}

header h1 {
    font-weight: 600;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
}

header span {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    color: var(--tertiary-color);
    background: var(--primary-color);
    border-radius: 7px;
    text-shadow: none;
}

header nav {
    margin: 10px 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}

footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info {
    color:var(--primary-color);
    font-size: 25px;
}

.contact-info a {
    color:var(--primary-color);
}

.contact-info a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 7px;
    text-shadow: none;
}

.about-me {
    background-image: url(../images/keyboards.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.about-hello h2 {
    background-color: var(--primary-color);
    font-size: 50px;
    font-weight: lighter;
    color:var(--tertiary-color);
}

.about-text {
    background-color:var(--primary-color);
    color:var(--tertiary-color);
    padding:20px;
    margin: 0 145px;
    border-radius: 7px;
    font-size: 20px;
}

.about-me img {
    border-radius: 15px;
    margin: 20px;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-end;
    margin: 0 auto;
    background-color: var(--secondary-color);
    flex-direction: row;

}

.my-work h2 {
    color:var(--tertiary-color);
    font-size: 50px;
}

.my-work h3 {
    color: var(--tertiary-color);
    font-size: 25px;
    text-align: center;
}

.first-app img {
    width: 100%;
}

@media screen and (max-width: 980px) {
    header, footer {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
}